
<h2>Pocicion en x : {{pocicionCarX}} </h2>
<h2>Pocicion en y : {{pocicionCarY}}</h2>
<br/>
<div class="row" *ngFor="let row of lienzo | reverse">
  <div class="col-md-1" *ngFor="let col of row">
    <div class="box" *ngIf="col == 0">
    </div>

    <div class="box-car" *ngIf="col == 1">
    </div>

  </div>
</div>

