<h1>
  {{title}}
</h1>

<div class="container-fluid">
  <app-input-lienzo [hidden]="!showConfigLienzo" (submitConf)="setConfigLienzo($event)"></app-input-lienzo>

  <app-input-mov [hidden]="showConfigLienzo" (submitMov)="setMovLienzo($event)"></app-input-mov>

  <app-lienzo [hidden]="showConfigLienzo" [sizeX]="sizeX" [sizeY]="sizeY" [pocicionCarX]="pocicionCarX" [pocicionCarY]="pocicionCarY"></app-lienzo>
</div>


