<div class="container">
  <div class="wrapper">

    <form novalidate [formGroup]="form" (ngSubmit)="save(form.value, form.valid)" class="form-signin">
      <h3 class="form-signin-heading">Configuracion de lienzo</h3>
      <hr class="colorgraph">
      <br>

      <input type="text" class="form-control" placeholder="Tamaño lienzo en X" formControlName="sizeX"/>

      <div class="alert alert-info" [hidden]="form.controls.sizeX.valid || (form.controls.sizeX.pristine)">
        Solo se aceptan valores numericos
      </div>

      <input type="text" class="form-control" placeholder="Tamaño lienzo en Y" formControlName="sizeY"/>

      <div class="alert alert-info" [hidden]="form.controls.sizeY.valid || (form.controls.sizeY.pristine)">
        Solo se aceptan valores numericos
      </div>

      <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Configurar" type="Submit" [disabled]="!form.valid">Login</button>
    </form>
  </div>
</div>
